<!DOCTYPE html>
<html>

<head>
    <title>Blogz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_style.css') }}" />
</head>

<body>
    <header id="main-header">
        <div class="container">
            <h1>Build Blogz</h1>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <div id="main">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">All Posts</a></li>
                    <li><a href="/newpost">New Post</a></li>
                </ul>
            </div>
            <div id="sidebar">
                {% if 'email' in session %}
                <em>{{ session['email'] }} </em>
                <a href="/logout">Logout</a>
                {% else %}
                <a href="/login">Login</a>
                {% endif %}
            </div>
        </div>

    </nav>

    <div class="container">
        {% block content%}

        {% endblock %}
    </div>
</body>

<footer id="main-footer">


    {% with messages=get_flashed_messages(category_filter=['success']) %}

    <p class='success'> {{messages[0]}} </p>

    {% endwith %}
    <p>Copyright &copy; 2019 Blogz</p>
</footer>

</html>